.fc-daygrid-event.fc-event-start {
    border-radius: 50px 0px 0px 50px;
}
.fc-daygrid-event.fc-event-end {
    border-radius: 0px 50px 50px 0;
}
.fc-event-title.fc-sticky {
    margin-left: 10px !important;
}