@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.woff2") format("woff2"),
    url("./assets/fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("./assets/fonts/FunnelDisplay-Regular.woff2") format("woff2"),
    url("./assets/fonts/FunnelDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("./assets/fonts/FunnelDisplay-Bold.woff2") format("woff2"),
    url("./assets/fonts/FunnelDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("./assets/fonts/FunnelDisplay-Medium.woff2") format("woff2"),
    url("./assets/fonts/FunnelDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("./assets/fonts/FunnelDisplay-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/FunnelDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("./assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/PlusJakartaSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/PlusJakartaSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/PlusJakartaSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("./assets/fonts/PlusJakartaSans-Medium.woff2") format("woff2"),
    url("./assets/fonts/PlusJakartaSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Funnel Display", sans-serif !important;
  overflow-x: hidden;
}

.container {
  max-width: 1420px;
  padding: 0 24px;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
}

.bgGradient {
  background: linear-gradient(180deg, #ffeccb 0%, rgba(255, 236, 203, 0) 100%);
}

.btn1 {
  background: #a58143;
  height: 46px;
  border-radius: 32px;
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  font-weight: 500;
  padding: 0 26px;
  transition: all 0.3s;
}

.btn2 {
  border: 2px solid #000929;
  background-color: #ffffffa6;
  height: 46px;
  border-radius: 32px;
  text-transform: uppercase;
  font-size: 16px;
  color: #000929;
  font-weight: 500;
  padding: 0 26px;
  transition: all 0.3s;
}

.btn1:hover {
  background: #896a35;
}

.btn2:hover {
  color: #bb9e6c;
  border-color: #bb9e6c;
}

.bannerSlider .sliderInner div {
  height: 100%;
}

.mantine-Select-root .mantine-Select-wrapper {
  width: 100%;
}

.mantine-Select-root input {
  width: 100%;
  background: transparent;
  border: none;
  padding: 0;
}

.mantine-Select-root input::placeholder {
  color: #5f5f5f;
}

.banner .mantine-Select-root input {
  font-size: 18px;
  font-weight: 500;
}

.phoneInput .react-tel-input input {
  border: none;
  background-color: transparent;
}

.phoneInput .react-tel-input .flag-dropdown {
  border: none;
  background-color: transparent;
}

.phoneInput .react-tel-input .flag-dropdown .selected-flag,
.phoneInput .react-tel-input .flag-dropdown.open,
.phoneInput .react-tel-input .flag-dropdown.open .selected-flag {
  background: transparent;
}

.phoneInput .react-tel-input input:focus {
  box-shadow: none !important;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

[type="radio"] {
  box-shadow: none;
  --tw-ring-shadow: none !important;
}

[type="radio"]:checked {
  background-color: #bb9e6c !important;
}

.swal2-actions {
  width: 80%;
  margin: 20px auto 0;
}

.swal2-actions .swal2-cancel {
  background: transparent !important;
  border: 1px solid #bb9e6c;
  color: #bb9e6c;
  flex: 1;
}

.swal2-actions .swal2-confirm {
  flex: 1;
}

.reviewSec .slick-dots {
  bottom: -35px;
}

.reviewSec .slick-dots li button:before {
  color: white;
  opacity: 0.3;
}

.reviewSec .slick-dots li.slick-active button:before {
  color: #dcb97c;
  font-size: 8px;
}

.quickView .slider div {
  height: 100%;
}

.quickView .slider .slick-dots {
  bottom: 10px;
}

.quickView .slider .slick-next {
  right: 8px;
}

.quickView .slider .slick-prev {
  left: 8px;
}

div[data-testid="modal-overlay"] {
  background-color: rgb(17 24 39 / 65%) !important;
}

.fc-event-title.fc-sticky {
  margin-left: 10px !important;
}

.fullCalender .MuiBox-root.css-zwiamn {
  margin: 0;
}

.fullCalender .css-1q3omop {
  margin-left: 0 !important;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .btn1,
  .btn2 {
    height: 40px;
    font-size: 14px;
    padding: 0 18px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }

  .header .btn1 {
    height: 32px;
    font-size: 12px;
    padding: 0 14px;
  }
}